<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-3 col-md-3">
        <h3>Pesquisa avançada:</h3>
        <%= render "shared/search"%>
      </div>
      <div id="imoveis" class="col-lg-9 col-md-9">
        <div id="properties-list" class="row">

          <div class="col-lg-6 col-lg-offset-3">
            <%= paginate @properties, :theme => 'twitter-bootstrap-3', 
            :pagination_class => "pagination-small pagination-centered" %>
          </div>
          <div class="col-lg-3 pull-right">
            <form role="form">
              <div class="form-group">
                <select class="form-control">
                  <option>Ordenar por</option>
                  <option>Menor Valor</option>
                  <option>Maior Valor</option>
                  <option>Maior area</option>
                  <option>Menor area</option>
                </select>
              </div>
            </form>
          </div>

        </div>
        <% if @properties.count > 0 %>
        <% @properties.each do |property| %>
        <div class="media">
          <a class="pull-left  col-lg-4" href="<%= property_url(property) %>">
            <img class="media-object img-responsive thumbnail" src="<%= property.pictures.first.file.thumb('253x190#').url %>" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Ref: <%= property.id %></h4>
            <b> <%= property.property_type.name %> para <%= property.business_type.name %> </b>
            <br>
            <b> Localidade: </b>
            <%= property.district.name %>, <%= property.district.city.name %> - <%= property.district.city.state.uf %>
            <br>
            <b> Valor: </b>
            <% if property.sell_price %>
            <%= number_to_currency(property.sell_price) %>
            <% else %>
            Consulte
            <% end %>
            <br>
            <br>
            <b> Descrição: </b><%= property.description.truncate(300) %>
          </div>
        </div>
        <% end %>
        <% end %>

        <div class="col-lg-6 col-lg-offset-3">
          <ul class="pagination pagination-centered">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div> 
      </div>
      </div>
  </div>
</div> <!-- /container -->
