<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-3 col-md-3">
        <h3>Pesquisa avançada:</h3>
        <%= render "shared/search"%>
      </div>
      <div id="imoveis" class="col-lg-9 col-md-9">
        <div id="properties-list" class="row">
          <div class="col-lg-3 pull-right">
            <form role="form">
              <div class="form-group">
                <select class="form-control">
                  <option>Ordenar por</option>
                  <option>Menor Valor</option>
                  <option>Maior Valor</option>
                  <option>Maior area</option>
                  <option>Menor area</option>
                </select>
              </div>
            </form>
          </div>

        </div>
        <% if @properties.count > 0 %>
        <% @properties.each do |property| %>
        <div id="property" class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
          <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
            <a href="<%= property_url(property) %>">
              <img class="img-responsive thumbnail" src="<%= property.pictures.first.file.thumb('253x190#').url %>" alt="..."></img>
            </a>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
            <h4 class"reference">Ref: <%= property.id %></h4>
            <b> <%= property.property_type.name %> para <%= property.business_type.name %> </b>
            <br>
            <b> Localidade: </b>
            <%= property.district.name %>, <%= property.district.city.name %> - <%= property.district.city.state.uf %>
            <br>
            <b> Valor: </b>
            <% if property.sell_price %>
            <%= number_to_currency(property.sell_price) %>
            <% else %>
            Consulte
            <% end %>
            <br>
            <div class="description hidden-xs">
              <% unless property.description.nil? || property.description.length < 1  %>
                <b> Descrição: </b><%= property.description.truncate(200) %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
        <% end %>
        <% end %>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
              <%= paginate @properties, :theme => 'twitter-bootstrap-3', 
              :pagination_class => "pagination-small pagination-centered" %>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div> <!-- /container -->
