<%= simple_form_for :search, :url => properties_path, :method => :get do |f| %>
  <div class="form-group">
    <%= f.input_field :city_id, collection: City.order(:name), label_method: :name, value_method: :id, include_blank: "Escolha a Cidade" %>
  </div>

  <div class="form-group">
    <%= f.input_field :district_id, collection: District.order(:name), label_method: :name, value_method: :id, include_blank: "Escolha o Bairro" %>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.input_field :bedrooms, collection:  1..10, include_blank: "Quartos"%>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6"> 
      <div class="form-group">
        <%= f.input_field :garages, collection: 0..10, include_blank: "Garagem"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.input_field :property_type_id, collection: PropertyType.order(:name), label_method: :name, value_method: :id, include_blank: "Escolha tipo de imóvel" %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        <i class="fa fa-search"></i> 
        Pesquisar
      <% end %>
    </div>
  </div>

<% end %>