<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
    
      <div class="col-lg-9 col-md-9">
        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <% if @banner.count > 0 %>
              <% @banner.each_with_index do |property, index|%>
                <% if index < 1 %>
                  <div class="item active">
                    
                <% else %> 
                  <div class="item">
                    
                <% end %>
                    <a href="<%= property_url(property) %>" >
                      <img src="<%= property.pictures.first.file.thumb('848x360#').url %>"></img>
                    </a>
                    <div class="carousel-caption">
                      <p><%= property.property_type.name %> para <%= property.business_type.name %> em <%= property.district.name %> - <%= property.district.city.name %></p>
                    </div>
                  </div>
              <% end %>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
      <form role="form">
        <h3>Pesquise aqui:</h3>
        <div class="form-group">
          <select class="form-control">
            <option>Escolha a Cidade</option>
            <option>Taquara</option>
            <option>Igrejinha</option>
            <option>Parobé</option>
            <option>Rolante</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control">
            <option>Escolha o Bairro</option>
            <option>Santa Rosa</option>
            <option>Rio da Ilha</option>
            <option>Padilha</option>
            <option>Centro</option>
          </select>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <select class="form-control" name="quartos">
                <option value="indiferente">Quartos</option>
                <option value="1">1 quarto</option>
                <option value="2">2 quartos</option>
                <option value="3">3 quartos</option>
                <option value="4">4 quartos</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <select class="form-control" name="vagas">
                <option value="indiferente">Garagem</option>
                <option value="1">1 vaga</option>
                <option value="2">2 vagas</option>
                <option value="3">3 vagas</option>
                <option value="4">4 vagas</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <select class="form-control" name="tipo">
            <option value="indiferente">Escolha o tipo do imóvel</option>
            <option value="3">Apartamento</option>
            <option value="4">Casa</option>
            <option value="6">Cobertura</option>
            <option value="7">Escritório</option>
          </select>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6"><input type="submit" value="Pesquisar" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
        </div>
      </form>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <br>
      <div class="title-divider col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2> Mais destaques:</h2>
      </div>
      <% if @destaques.count > 0 %>
      <% @destaques.each do |property|%>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <br>
        <a href="<%= property_url(property) %>" >
          <img src="<%= property.pictures.first.file.thumb('253x190#').url %>" class="img-responsive thumbnail" alt="Responsive image">
        </a>
        <h5><%= property.property_type.name %> para <%= property.business_type.name %></h5>
        <h4><%= property.district.name %> - <%= property.district.city.name %></h4>

        <p>15 héctares</p>
        <p><a class="btn btn-primary" href="<%= property_url(property) %>" role="button">Mais detalhes »</a></p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div> <!-- /container -->
<script type="text/javascript" >
$(document).ready(function() {
  $('.carousel').carousel()
});
</script>