<h1>Edit property</h1> 

<div class"col-lg-3">
  <a href="<%= admin_property_pictures_path(@property)%>" class="btn btn-success pull-right spaced">
                  <i class="fa fa-picture-o">
                  </i> Fotos da propriedade</a>
</div>
<div class"col-xs-9">
  <div id="highlighted">
    <%= render 'admin/highlighted_properties/highlight', :property => @property %>
  </div>
  <div id="publish-website">
    <%= render 'publishWebsite', :property => @property %>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', properties_path %>