

      <div class="row">
        <br>
        <div id="tools" class="col-lg-12">
          <div class="row">
            <div class="col-lg-2 pull-right">
              <a href="#" class="pull-right btn btn-success"><i class="fa fa-plus"></i> Novo Imóvel</a>
            </div>
            <div class="col-lg-2 btn-group pull-right">
                <button type="button" class="pull-right btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Ordenar por
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Código de referência</a></li>
                  <li><a href="#">Valor</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4 pull-right">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Pesquisar </button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

        </div>

        <div id="properties">
            <table class="table col-lg-12 col-md-12 col-sm-12">
                <tbody>
                    <% @properties.each do |property| %>
                    <tr>
                        <td class="">
                            <% if property.highlighted_property %>
                                <i class=" fa fa-2x fa-star stat-icon" data-toggle="tooltip" data-placement="right" title="Imóvel em destaque"></i>
                            <% else %>
                                <i class=" fa fa-2x fa-star not-published stat-icon" data-toggle="tooltip" data-placement="right" title="Não esta em destaque"></i>
                            <% end %>
                            <% if property.on_tablet %>
                                <i class=" fa fa-2x fa-tablet stat-icon" data-toggle="tooltip" data-placement="right" title="Disponivel no catálogo móvel"></i>
                            <% else %>
                                <i class=" fa fa-2x fa-tablet not-published stat-icon" data-toggle="tooltip" data-placement="right" title="Não está disponivel no catálogo móvel"></i>
                            <% end %>
                            <% if property.on_website %>  
                                <i class=" fa fa-2x fa-globe stat-icon" data-toggle="tooltip" data-placement="right" title="Disponivel no website"></i>
                            <% else %>
                                <i class=" fa fa-2x fa-globe not-published stat-icon" data-toggle="tooltip" data-placement="right" title="Não esta disponivel no website"></i>
                            <% end %>
                        </td>
                        <td class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <a href="<%= property_url(property) %>">
                              <img class="img-responsive" src="<%= property.pictures.first.file.thumb('253x190#').url %>" alt="..."></img>
                            </a>
                        </td>
                        <td>
                            <b>
                                Ref: <%= property.id %>
                            </b>
                            <br>
                            <b> Proprietário: </b>
                            Jean Brito, Carolina Pohren
                            <br>
                                <b> <%= property.property_type.name %> para <%= property.business_type.name %> </b>
                            <br>
                            <b> Localidade: </b>
                            <%= property.district.name %>, <%= property.district.city.name %> - <%= property.district.city.state.uf %>
                            <br>
                            <b> Valor: </b>
                            <% if property.sell_price > 0%>
                                <%= number_to_currency(property.sell_price) %>
                            <% else %>
                                Indefinido
                            <% end %>
                        </td>
                        <td>
                            <a href="<%= property_url(property) %>" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="<%= edit_admin_property_url(property) %>" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
      </div>