<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <!-- <a class="navbar-brand" href="/">          
          Differential          
        </a> -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Brito Imóveis</a> -->
          <img class= "logomark" style="margin-top: 5px;" src="<%= asset_path 'logo.png' %>" alt="logo" width="40" height="40" />
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-left">


          <li class=""><a href="/imoveis.html"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a></li>
          <li class="dropdown <%= 'active' if controller?("admin/properties") %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home fa-lg"></i> Imóveis<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= admin_properties_url %>"><i class="fa fa-th-list"></i> Listar imóveis</a></li>
              <li><a href="#"><i class="fa fa-search"></i> Pesquisar imóveis</a></li>
              <li><a href="<%= new_admin_property_url %>"><i class="fa fa-plus"></i> Cadastrar novo imóvel</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-list-alt"></i> Relatórios</a></li>
              <li class="divider"></li>
              <li><a href="<%= admin_highlighted_properties_url %>"><i class="fa fa-star"></i> Imóveis em destaque</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-lg"></i> Clientes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-th-list"></i> Listar clientes</a></li>
              <li><a href="#"><i class="fa fa-search"></i> Pesquisar Clientes</a></li>
              <li><a href="#"><i class="fa fa-Plus"></i> Cadastrar novo cliente</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-list-alt fa-lg"></i> Relatórios</a></li>
            </ul>
          </li>
          <li class="dropdown     
                      <%= 'active' if controller?("admin/cities") %>
                      <%= 'active' if controller?("admin/districts") %>
                      ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list-ul fa-lg"></i> Diversos<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= admin_districts_url %>">Bairros</a></li>
              <li><a href="<%= admin_cities_url %>">Cidades</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe fa-lg"></i> Website<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tablet fa-lg"></i> Catálogo móvel<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears fa-lg"></i> Configurações<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i> Jean Brito<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

        <a class="mobile-menu-trigger pull-right hidden-lg" href="#mobileNav"> <i class="icon-reorder"></i>
        </a>

        <div id="mobile-menu" style="display: none;">
          <ul>
            <li class=""><a href="/about">About</a></li>
            <li class=""><a href="/companies">Companies</a></li>
            <li class=""><a href="/team">Team</a></li>
            <li class=""><a href="/blog">Blog</a></li>
            <li class=""><a href="/connect">Jobs</a></li>
            <li class=""><a href="/contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
    </div>
