<!DOCTYPE html>
<html>
<head>
  <title>Britoimoveis</title>
  <%= stylesheet_link_tag    "application-website", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application-website", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= initjs_tag 'Britoimoveis' %>

<%= yield %>

</body>
</html>
